target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

*.zip
config.json
www_*/
www/nfsw/Engine.svc/catalog_*/
www/nfsw/Engine.svc/personas/100_old/

.idea/

src/betasrv_nah/
src/offline_old*/
src/openfire_old/